@import 'https://fonts.googleapis.com/css?family=Abel|Roboto+Condensed';

/* override default font pada bootstrap */
body{
    font-family: 'Roboto Condensed', sans-serif;
    /*font-family: 'Abel', sans-serif;*/
}

/* override padding pada body di bootstrap karena navbar-fixed-top *
 * akan membentuk overlay di atas konten lainnya, maka pada saat   *
 * screen lebih besar dari 980px, kita menambah padding-top pada   *
 * body sebesar 41px untuk mencegah overlay navbar-fixed-top pada  *
 * body                                                            */
@media (min-width:980px){
    body{
        padding-top:51px;
    }
}

@media (max-width: 979px){
    .navbar-fixed-top{
        margin-bottom:0px;    
    }
}

@media (max-width: 767px){
    body{
        padding-right:0px;
        padding-left:0px;
    }
}

/*@media (max-width:767px){
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top{
        margin-right:0px;
        margin-left:0px;
    }
}*/

/*@media (max-width: 767px){
    .navbar-fixed-top{
        margin-right:0px;
        margin-left:0px;
    }
}*/

.container-fluid.blok-utama, .container-fluid.blok1, .container-fluid.blok2, .container-fluid.blok3, .container-fluid.blok4, .container-fluid.blok-kaki{
    padding: 50px;
}

h1{
    margin-top: 10px;
}

.help-block{
    margin-bottom: 5px;
}

.has-error{
    font-weight: bolder;
    color: #d32f2f;
}

.container-fluid.blok-utama{
    background-color: #1abc9c;
}

@media (max-width:979px){
    .container-fluid.blok-utama{
        margin-top: 51px;
    }
}


.container-fluid.blok-utama a{
    text-decoration: none;
    color: #ffffff;
}

.container-fluid.blok1{
    background-color: #e67e22;
}

.container-fluid.blok2{
    background-color: #3498db;
}

.container-fluid.blok3{
    background-color: #e74c3c;
}

.container-fluid.blok4{
    background-color: #8e44ad;
}

.container-fluid.blok-kaki{
    background-color: #2a2730; /* WetAsphalt */
    color: #ffffff;
    font-size: 14px;
}

.hero-unit{
    margin-bottom: 20px;
}

.tooltip-inner{
    font-size: 13px;
}

/*[class*="span"]{
    background-color: #e8e8e8;
    border-radius: 4px;
}*/

.navbar-default{
    background-color: #34495e;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover{
    color:#64ffda;
}

.navbar-fixed-top .navbar-default, .navbar-fixed-bottom .navbar-inner{
    padding-right: 60px;
    padding-left: 40px;
}

@media (max-width: 979px){
    .container-fluid.navigasi{
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .container-fluid.blok-utama, .container-fluid.blok1, .container-fluid.blok2, .container-fluid.blok3, .container-fluid.blok4, .container-fluid.blok-kaki{
    padding: 60px;
    }
}

@media (max-width: 767px){
    .container-fluid.navigasi{
        padding-right: 40px;
        padding-left: 40px;
    }
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
    background-color: #2c3e50;    
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover{
    background-color: #304050;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
    color: #64ffda;
}

.navbar .nav>li>a{
    color: #64ffda;
    text-shadow: none;
}

.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a{
    font-weight: normal;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
    border-width: 0 0 3px;
}

.navbar .btn-navbar{
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
    background-image: linear-gradient(to bottom, #34495e, #34495e);
    background-color: #34495e;
    
}

i.material-icons{
    float: left;
    font-size:18px;
    margin-left:3px;
    margin-right:3px;
}

a.btn.btn-navbar{
    padding: 7px;
    line-height: 0px;
    margin-bottom: 5px;
}

.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled]{
   background-color: #34495e;
}

.navbar .btn-navbar{
    border-color: #64ffda;
    color:#64ffda;
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover{
    color: #A7FFEB;
    font-weight: 400;
}

p.navbar-text{
    color:#64ffda;
}

p.navbar-text a{
    text-decoration: none;
    color:#414142;
}

.material-icons.kaki{
    float: none;
    font-size: 16px;
    position:relative;
    top:3px;
}

.material-icons.kaki.merah{
    color:#E53935
}

/*.col-sm-2.control-label{
    margin-right: 15px;
}

.form-group{
    margin-bottom: 15px;
}

input, textarea, .uneditable-input{
    width: 500px;
}

@media (max-width:767px){
    input, textarea, .uneditable-input{
        width: 200px;
    }
}*/